<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>

    <body>
        <% include ./partials/header %>
        <% include ./partials/sidePanel %>
        <section id="main">
                <form method="post" action="<%= data.url %>/update">
                    <div class="fields">
                        <div class="cover">
                            <label for="courseName">Course Name</label>
                            <% if(data){ %>
                               <input type="text" name="courseName" placeholder="Course Name" required="true" value="<%= (undefined===data ? '' :  data.name) %> "/> <br />
                            <% } else{ %>
                               <input type="text" name="courseName" placeholder="Course Name" required="true"  />
                            <% } %>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="cover">
                            <label for="courseCode">Course Code</label>
                            <% if(data){ %>
                                <input type="text" name="courseCode" placeholder="Course Code" required="true" value="<%= (undefined===data ? '' :  data.courseCode) %> " /> <br />
                            <% } else{ %>
                               <input type="text" name="courseCode" placeholder="Course Code" required="true"  />
                            <% } %>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="cover">
                            <label for="professor">Course Professor</label>
                            <% if(data){ %>
                                <input type="text" name="professor" placeholder="Professor's Name" required='true' value="<%= (undefined===data ? '' :  data.prof.name) %> " /> <br />
                            <% } else{ %>
                               <input type="text" name="professor" placeholder="Professor's Name" required='true' />
                            <% } %>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="cover">
                            <label for="status">Course Status</label>
                            <select name="status" placeholder="Status" required='true'>
                                <option value="available">available</option>
                                <option value="unavailable">unavailable</option>
                                <option value="cancelled">cancelled</option>
                                <option value="waitlisted">waitlisted</option>
                            </select>
                            <!-- <input type="text" name="status" placeholder="Status" required='true' /> <br /> -->
                        </div>
                    </div>
                    <div class="fields">
                        <div class="cover">
                            <label for="creditHours">Credit Hours</label>
                            <% if(data){ %>
                                <input type="text" name="creditHours" placeholder="Credit Hours" required='true' value="<%= (undefined===data ? '' :  data.creditHours) %> " /> <br />
                            <% } else{ %>
                                <input type="text" name="creditHours" placeholder="Credit Hours" required='true' />
                            <% } %>
                        </div>
                    </div>
                    <input type="submit" value="<%= title %>" />
                </form>
            </div>
        </section>
    </body>
</html>
